/* ==========================
   Base Reset and Typography
   ========================== */
/* Reset all margins/paddings and standardize box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  background-color: #f4f6f8;
  min-height: 100%;
}
